---
import type { CollectionEntry } from "astro:content";

type PostProps = CollectionEntry<"posts">["data"];
interface Props extends PostProps {
  slug: string;
}

const { title, date, category, published, description, slug } = Astro.props;

const formattedDate = date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<article class="grid grid-cols-12 gap-x-5">
  <h2 class:list={["mb-0 col-span-full text-2xl", "sm:col-span-9 sm:order-2"]}>
    <a class="no-underline" href={`/posts/${slug}`}>{title}</a>
    {
      !published && (
        <span class="bg-slate-200 inline-block px-1.5 rounded text-slate-500 text-xs uppercase font-normal align-middle">
          Draft
        </span>
      )
    }
  </h2>
  <div
    class:list={[
      "col-span-full self-end uppercase text-xs text-slate-600 pb-1",
      "sm:order-1 sm:col-span-3 sm:text-sm sm:text-right sm:pb-0 sm:row-span-2 sm:self-start",
      "lg:col-span-2",
    ]}
  >
    <div
      class:list={[
        "inline",
        "sm:block sm:mt-2.5 sm:mb-1 sm:font-medium",
        "lg:mb-1.5",
      ]}
    >
      {formattedDate}
    </div>
    <span class="sm:hidden"> /</span>
    <span class="text-[13px]">{category}</span>
  </div>
  <div
    class:list={["col-span-full text-slate-700", "sm:col-span-9 sm:order-3"]}
  >
    {description}
  </div>
</article>
