---
import FlexibleDate from "./FlexibleDate.astro";
const { title, start_date, end_date, position, stack, description, points } =
  Astro.props;

const parseDate = (date: Date) => {
  const month = date.toLocaleDateString("en-US", { month: "long" });
  const year = date.toLocaleDateString("en-US", { year: "numeric" });
  return { month, year };
};

const startDate = parseDate(start_date);
const endDate = end_date && parseDate(end_date);
---

<div>
  <h3 class="mb-0">
    {title}
  </h3>
  <div class="text-base text-slate-700">
    <span class="font-medium">{position}</span>
    / <FlexibleDate {...startDate} />
    -
    {endDate ? <FlexibleDate {...endDate} /> : "Present"}
  </div>
  <div class="mb-4 last:mb-0 text-base text-slate-500">
    {stack}
  </div>
  {description?.map((paragraph: string) => <p>{paragraph}</p>)}
  {
    points && (
      <ul>
        {points?.map((point: string) => (
          <li>{point}</li>
        ))}
      </ul>
    )
  }
</div>
